body {
    background: #360258
}

h1 { 
    text-align: center;
}

p {
    text-align: center;
    font-size: 30px;
}

    #missao {
    font-size: 30px;
}

em strong {
    color:purple
}
h2 {
    font-size: 30px;
}
ul {
    font-size: 30px;
}
li {
    font-size: 30px;
}
